html{
    padding-left: 10%;
    padding-right: 10%;
    background-color:azure;
}
.fifth{
    padding-top: 1%;
    padding-bottom:0px; 
    margin:auto;
    display:flex;
    justify-content:space-evenly;
}
img{
    height: 125px;
    width: 125px;
    border:2px solid black;
    padding-left: 0px;
}