.second{
    
    padding-top: 1%;
    padding-bottom:0px; 
    margin:auto;
    display:flex;
    justify-content:space-evenly;
}
img{
    height: 150px;
    width: 150px;
    border:2px solid black;
    padding-left: 1%;
}
html{
    background-color:azure;
    padding-left: 10%;
    padding-right: 10%;
}