html{
    background-color:lightgrey;
}
.first{
    border: 2px solid black;
    padding:50px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
img{
    height: 150px;
    width: 150px;
    border:2px solid black;
    border-radius: 50%;
}
